@import "../../Assets/base";

body {
    background-color: #000000 !important;
}

.cover {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 100%;
        max-width: 850px;
        max-height: 700px;
    }
    .go-back {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 1rem;
        left: 1rem;
    }
}
